<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.se.rfid.mapper.ProductMapper">
    <select id="getProductById" resultType="nju.se.rfid.bean.Product">
        SELECT * FROM product WHERE id = #{id}
    </select>

    <select id="getProductByCasId" resultType="nju.se.rfid.bean.Product">
        SELECT * FROM product WHERE cas_id = #{casId}
    </select>

    <insert id="insertProduct">
        INSERT INTO product(cas_id,batch_id,product_name,create_date,company_id)
            VALUE (#{casId},#{batchId},#{productName},#{createDate},#{companyId})
    </insert>

</mapper>